.container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    gap: 30px;
}
.listMeals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listMeals > li {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}
.listMeals > li > h3 {
    font-size: 14px;
    text-align: center;
}
.listMeals > li > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}